@charset "UTF-8";
/* _variables: global variables
-------------------------------------------------- */
/* functions
-------------------------------------------------- */
/* functions
-------------------------------------------------- */
/* utility > error - 에러페이지
-------------------------------------------------- */
img {
  max-width: 100%; }

.blind {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.btn {
  position: relative;
  display: inline-block;
  color: #FFF;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-bottom: 1px solid #625d59;
  background-color: #79746e;
  text-decoration: none; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    background-color: #6f6a64; }
  @media (min-width: 600px) {
    .btn {
      font-size: 16px;
      padding: 12px 40px; } }

html {
  border-top: 5px solid #b61c21; }

.error-box {
  max-width: 750px;
  margin: 0 auto;
  color: #666;
  font-size: 14px;
  text-align: center;
  padding-top: 6.66667%; }

.error .logo {
  margin: 0 auto 10%;
  padding: 0 10%; }

.error .h {
  font-size: 16px;
  padding: 0 10%; }
  .error .h .l-desktop {
    display: none; }

.error p {
  padding: 0 10%; }

.error .hr {
  display: block;
  border: 0;
  border-bottom: 1px dashed #ccc;
  margin: 30px 0; }

.error .msg {
  padding: 0; }

.error .func {
  margin-top: 10%; }

.error .browser {
  margin-top: 50px;
  text-align: center; }
  .error .browser li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 20px; }
    .error .browser li a {
      display: block;
      color: #666;
      font-size: 14px;
      text-decoration: underline; }
  .error .browser img {
    border: 0 none; }

@media (max-width: 599px) {
  .error .logo {
    width: 50px; }
  .error .icon {
    display: block;
    width: 30px;
    margin: 0 auto 10px; } }

@media (min-width: 600px) {
  .error-box {
    font-size: 16px; }
  .error .h {
    font-size: 20px; }
    .error .h .l-mobile {
      display: none; }
    .error .h .l-desktop {
      display: inline-block; }
  .error .icon {
    display: inline-block;
    width: 16px;
    vertical-align: middle; } }

.no-mediaqueries .error .h {
  font-size: 20px; }
  .no-mediaqueries .error .h .l-mobile {
    display: none; }
  .no-mediaqueries .error .h .l-desktop {
    display: inline-block; }

.no-mediaqueries .error-box {
  font-size: 16px; }

.no-mediaqueries .error .icon {
  display: inline-block;
  margin: 0 auto 10px;
  width: 16px;
  vertical-align: -2px; }
