/**
 *
 * Apply your custom CSS here
 *
*/

/*
* common style
*/
::-webkit-scrollbar {
	width:10px;
	scrollbar-shadow-color:#ccc;
	scrollbar-arrow-color:#fff;
}
::-webkit-scrollbar-thumb{
	background:#ccc;
}
body {
	min-width: 1024px;
	border-top: 4px solid #b61c21;
	background-color: #f2f2f1;
	color: #666;
}
.pop-body {
	min-width: auto;
}
.pop-body h4 {
	padding: 0 10px;
}
.user-h {
	margin: 0;
	font-size: 16px;
}
.user-h + .btn {
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 10px;
	font-size: 12px;
}
.user-h + .btn:hover,
.user-h + .btn:active,
.user-h + .btn:focus {
	color: #fff;
	border-color: transparent;
	background-color: #a6191f;
}
.user-h a {
	text-decoration: underline;
}
.ctn {
	color: #a6191f;
	font-weight: bold;
	font-style: normal;
}
.main {
	min-height: 100vh;
	margin-left: 180px;
	background-color: #f2f2f1;
}
.content-wrapper,
.right-side {
	margin-left: 180px;
	background-color: #f2f2f1;
	// background-color: #f3f3f1;
}
.col-title {
	padding-bottom: 10px;
	margin: 0;
	color: #79746e;
	font-size: 1.5em;
}
.main-header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	width: 180px;
}
.main-header .logo {
	float: none;
	width: 180px;
	height: 65px;
	padding: 5px 0 15px;
	border-bottom: 1px solid #85817b;
	background: #79746e;
}
.main-header .logo-img {
	width: 80px;
	margin-left: -10px;
}
.sidebar-menu > li > a {
	color: #827e79;
	border-bottom: 1px solid #e5e5e5;
	font-weight: bold;
}
.sidebar-menu li.active > a {
	color: #b61c21;
}
.sidebar-menu li > .treeview-menu {
	padding-left: 0;
	border-bottom: 1px solid #e5e5e5;
}
.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 10px;
	border-bottom: 0 none;
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu>li.header {
	border-top: 1px solid #e5e5e5;
}
.sidebar-menu .treeview-menu > li > a {
	padding-left: 20px;
	color: #888;
	font-size: 13px;
}
.sidebar-menu .treeview-menu li li a .fa {
	width: auto;
	margin-right: 3px;
	color: #aea59a;
	font-size: 8px;
}
.sidebar-menu .treeview-menu li li a .fa:before {
	content: '-';
}
.sidebar-menu .treeview-menu li li a {
	padding: 3px 3px 3px 15px;
}
.sidebar-menu .treeview-menu .active >.fa:before {
	color: #b61c21;
}
.sidebar-menu .treeview-menu .active >a {
	color: #b61c21;
}
.main-sidebar, .left-side {
	z-index: 1;
	width: 180px;
	padding-top: 140px;
	border-right: 1px solid #e4e4e4;
	background-color: #fff;
}
.main-footer {
	overflow: hidden;
	position: relative;
	z-index: 10;
	padding: 10px 15px;
	margin-left: 0;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f1;
	font-size: 10px;
	text-align: center;
}
.main-footer b, strong {
	font-weight: normal;
}
.main-header>.navbar {
	margin-left: 0;
	min-height: auto;
}
.main-header .navbar-custom-menu,
.main-header .navbar-right {
	float: none;
	text-align: center;
}
.navbar-custom-menu>.navbar-nav {
	float: none;
	padding: 10px 20px;
}
.navbar-custom-menu>.navbar-nav>li {
	float: none;
	width: 100%;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	width: 100%;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
	color: #fff;
	border-color: transparent;
	background-color: #b71c22;
}
.btn-default {
	color: #fff;
	border-color: transparent;
	background-color: #79746e;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
	border-color: transparent;
	background-color: #6e6a64;
}
.active .fa-folder:before {
	color: #b61c21;
}
.fa-folder:before {
	color: #999;
}
.content-header>h1 {
	display: inline-block;
	color: #b39a78;
	padding: 5px 0 8px;
	border-top: 1px solid #b39a78;
	border-bottom: 1px solid #b39a78;
}
.input-group .input-group-addon {
	border: 0 none;
	background: transparent;
}
.page-header {
	display: inline-block;
	font-size: 18px;
	color: #b39a78;
	padding-bottom: 5px;
	border-bottom: 1px solid #b39a78;
}
.page-header i {
	display: none;
}
.form-inline {
	display: inline-block;
	vertical-align: middle;
}
.form-inline + .form-inline {
	margin-left: 5px;
}
.form-horizontal .control-label {
	padding-top: 2px;
	color: #9e968c;
	font-size: 13px;
	text-align: left;
}
.form-horizontal label {
	color: #9e968c;
	font-size: 12px;
}
.form-horizontal .radio label,
.form-horizontal .checkbox label  {
	display: block;
}
.navbar-nav {
	float: none;
}

/*
* box style
*/
.box {
	border-top: 0 none;
	box-shadow: none;
	border-radius: 0;
}
.box-header {
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 1px solid #f4f4f4;
}
.box-header:empty {
	display: none;
}
.box-header .box-title {
	display: block;
	color: #555;
	line-height: inherit;
}
.box-header .nav-tabs-custom {
	margin-left: -15px;
	margin-right: -15px;
}
.box-body {
	padding: 20px 0;
	margin: 0 10px;
}
.box .row + .row {
	margin-top: 5px;
}
.box h4 {
	margin-top: 0;
}
.box-body + .box-body {
	margin-top: 20px;
	border-top: 1px solid #f4f4f4;
}
.box-body .box-footer {
	margin-left: 0;
	margin-right: 0;
}
.box-footer {
	padding: 20px 0 10px;
	margin: 0 10px;
	color: #b39a78;
	font-size: 12px;
}
.box-footer .table {
	color: #666;
	font-size: 14px;
}
.box-footer .row {
	margin-right: -15px;
	margin-left: -15px;
}
.box .form-group {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 10px 0;
}
.box-transparent {
	background-color: transparent;
}
.box-transparent .box-header {
	margin-left: 0;
	margin-right: 0;
}
.box-transparent .control-label {
	padding-top: 7px;
}
.box .group,
.box .form-group {
	border: 1px dashed #ddd;
}
.box .form-group + .form-group {
	border-top: 0;
}
.box-transparent .form-group {
	border: 0;
}
.box-transparent .form-group + .form-group {
	border-top: 1px dashed #aea59a;
}
.box-transparent .text-center {
	text-align: right;
}
.box ul {
	margin-top: 20px;
	color: #b39a78;
	font-size: 12px;
}
.box .pagination {
	margin-top: 0;
}
.box p {
	margin-top: 10px;
	color: #b39a78;
	font-size: 12px;
}
.box .pull-right,
.box .col-xs-6,
.box .col-md-6 {
	color: #b39a78;
	font-weight: normal;
	font-size: 12px;
}
.box .col-md-6 .table {
	color: #666;
	font-size: 14px;
}
.box .box .box-header .box-title {
	color: #fff;
	font-weight: normal;
	font-size: 15px;
}
.box .box .box-header .btn-box-tool {
	margin-top: -3px;
	background-color: transparent;
	font-size: 1.5em;
}
.box .box .box-header {
	padding: 10px;
	margin: 0;
	border: 1px solid #aea59a;
	background-color: #aea59a;
}
.box .box .box-body {
	padding: 10px;
	margin: 0;
	border: 1px solid #aea59a;
	border-radius: 0;
	word-wrap: break-word;
}
.box .box-default .box-header {
	border-color: #b61c21;
	background-color: #b61c21;
}

.box .box-default .box-body {
	border-color: #b61c21;
}

/*
* form style
*/
input[type="text"] {
	display: inline-block;
	width: auto;
}
input[type="text"].form-control {
	display: block;
	width: 100%;
}
input[type="text"]:disabled {
	background-color: #f0f0f0;
}
.input, .input-shop, select, .selectbox .selector, input[type="text"],
.form-control {
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px;
  color: #666;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  vertical-align: middle;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: 0;
  -webkit-appearance: none;
  border: 1px solid #e8e8e8;
  border-top-color: #c9c9c9;
  border-bottom-color: transparent;
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0 #e8e8e8;
  -moz-box-shadow: inset 0 1px 0 #e8e8e8;
  box-shadow: inset 0 1px 0 #e8e8e8;
}
select.form-control {
	appearance: menulist;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
select.input-sm {
	height: auto;
	line-height: inherit;
	font-size: 12px;
	cursor: pointer;
}
.input:focus, .input-shop:focus, select:focus, .selectbox .selector:focus, .form-control:focus,
input[type="text"]:focus {
	padding: 5px 9px;
	border-width: 2px;
	border-style: solid;
	border-color: #b39a78;
	-webkit-box-shadow: inset 0 0 0 rgba(247, 247, 247, 0);
	-moz-box-shadow: inset 0 0 0 rgba(247, 247, 247, 0);
	box-shadow: inset 0 0 0 rgba(247, 247, 247, 0);
}
.form-group.has-success label {
	color: #b71c22;
}
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
.form-horizontal .form-group + .row {
	margin-top: 20px;
}
.bootstrap-tagsinput {
	padding: 0;
	border: 0;
	height: auto;
}
.bootstrap-tagsinput input[type="text"] {
	display: block;
	width: 100%;
}

/*
* button & pagination style
*/
a {
	color: #666;
}
a:hover, a:active, a:focus {
	color: #3a3b3c;
}
.btn {
	color: #fff;
	border-color: transparent;
	background-color: #aea59a;
}
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:active:hover,
.btn:focus {
	color: #fff;
	border-color: transparent;
	background-color: #9e968c;
}
.btn.btn-flat {
	border-radius: 3px;
}
.btn-default {
	border-color: transparent;
	background-color: #b71c22;
}
.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:focus {
	color: #fff;
	border-color: transparent;
	background-color: #a6191f;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
	color: #fff;
	border-color: transparent;
	background-color: #a6191f;
}
.btn-danger {
	text-decoration: none;
	background-color: #79746e;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger:focus {
	border-color: transparent;
	background-color: #6f6a64;
}
.btn-primary {
	border-color: transparent;
	background-color: #b71c22;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
	border-color: transparent;
	background-color: #a6191f;
}
.orderBtn {
	border: 1px dashed #6f6a64;
	border-radius: 3px;
	background-color: transparent;
	color: #6f6a64;
}
.orderBtn:hover,
.orderBtn:active,
.orderBtn:active:hover,
.orderBtn:active:focus,
.orderBtn:focus {
	border: 1px dashed #a6191f;
	color: #a6191f;
}
.orderBtn + .orderBtn {
	margin-left: 3px;
}
.x-form-reset {
	background-color: #aea59a!important;
}
.x-form-reset:hover,
.x-form-reset:active,
.x-form-reset:active:hover,
.x-form-reset:active:focus,
.x-form-reset:focus {
	color: #fff;
	background-color: #9e958c!important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	border-color: transparent;
	background-color: #aea49a;
}

.pagination>li>a,
.pagination>li>span {
	font-size: 12px;
}

.pagination {
	padding: 0;
}

/*
* table style
*/
.table {
	border: 1px solid #ccc;
}
.table a {
	color: #aea59a;
	display: inline-block;
	text-decoration: underline;
}
.table .btn {
	padding: 1px 5px;
	color: #fff;
	text-decoration: none;
}
.table p {
	color: inherit;
	font-size: 14px;
}
.table + .row {
	margin-top: 20px;
	text-align: center;
}
.table strong {
	color: #b39a78;
	font-size: 1.5em;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	vertical-align: middle;
	border: 1px dashed #ddd;
	word-break: break-all;
}
.table>thead>tr>th,
.table>tbody>tr th {
	color: #3f3e3b;
	background-color: #f7f7f7;
}
.table>tbody>tr:first-child td {
	border-top: 0;
}
.table >tbody>tr:first-child th,
.table >tbody>tr:first-child td {
	border-top: 2px solid #666;
}
.table thead + tbody th {
	color: #9e968c;
}
.table br + .btn {
	margin-top: 10px;
	padding: 2px 25px;
	margin-bottom: 5px;
}
label {
	vertical-align: top;
}
.label {
	// display: block;
	width: 100%;
	height: 20px;
	padding: 0 .5em;
	border: 2px solid #aea49a;
	background-color: transparent;
	color: #aea49a;
	font-weight: normal;
	line-height: 20px;
	font-size: 11px;
	box-sizing: border-box;
}
.label-default {
	color: #b61c21;
	border-color: #b61c21;
	background-color: transparent;
}
.bootstrap-tagsinput .label {
	display: inline-block;
	width: auto;
	border-radius: 3px;
}
.bootstrap-tagsinput .tag {
	height: auto;
	line-height: normal;
	padding: 4px 4px;
}
.bootstrap-tagsinput .tag + input {
	margin-top: 5px;
}
.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
	background-color: #dcf1df;
}
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
	background-color: #dcf1df;
}
.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
	background-color: #fff4e2;
}
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
	background-color: #fff4e2;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
	padding: 8px;
}

/*
* tabs style
*/
.nav-tabs-custom>.nav-tabs {
	font-size: 14px;
	margin-bottom: 30px;
}
.nav-tabs-custom>.nav-tabs li a {
  padding: 5px 0 7px 0;
  margin-left: 3px;
  border-radius: 3px 3px 0 0;
}
.nav-tabs-custom>.nav-tabs li a:before {
	content: '';
	position: absolute;
	left: -8px;
	bottom: -1px;
	display: block;
	width: 8px;
	height: 2px;
}
.nav-tabs-custom>.nav-tabs.pull-right li a:before {
	left: inherit;
	right: -8px;
}
.nav-tabs-custom>.nav-tabs li a:before {
	background-color: #aea59a;
}
.nav-tabs-custom>.nav-tabs li:first-child a {
  margin-left: 0;
}
.nav-tabs-custom>.nav-tabs li:first-child a:hover {
  margin-left: 0;
}
.nav-tabs-custom>.nav-tabs li:first-child a:before {
  display: none;
}
.nav-tabs-custom>.nav-tabs li a {
	padding: 5px 12px 7px;
  color: #fff;
  border-color: #aea59a;
  background-color: #aea59a;
}
.nav-tabs-custom>.nav-tabs li a:focus,
.nav-tabs-custom>.nav-tabs li a:hover {
  color: #fff;
  border-color: #9e968c;
  background-color: #9e968c;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
	border-color: #9e968c;
}
.nav-tabs-custom>.nav-tabs li.active {
  border-top-color: transparent !important;
}
.nav-tabs-custom>.nav-tabs li.active a {
  color: #3f3e3b;
  background-color: transparent !important;
  border-bottom-color: transparent !important;
  cursor: pointer;
}
.nav-tabs-custom>.nav-tabs li.active:focus a,
.nav-tabs-custom>.nav-tabs li.active:hover a {
  background-color: transparent !important;
}
.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
	border-left-color: #9e968c!important;
}
.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type.active>a {
	border-right-color: #9e968c!important;
}
.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type.active+li>a:before {
	right: -4px;
}
.nav-tabs-custom>.nav-tabs>li {
	margin: 0 3px;
}
.nav-tabs-custom>.nav-tabs>li>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
	margin: 0;
}
.nav-tabs-custom {
	margin-bottom: 0;
	box-shadow: none;
	background: none;
}
.nav-tabs-custom>.nav-tabs {
	margin-bottom: 0;
	border: 0;
}


/*
* tweaks color style
*/
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
	color: #a6191f!important;
	border-color: #a6191f;
	background-color: transparent!important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
	color: #79746e!important;
	border-color: #79746e;
	background-color: transparent!important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
	color: #aea59a!important;
	border-color: #aea59a;
	background-color: transparent!important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
	color: #79746e!important;
	border-color: #79746e;
	background-color: transparent!important;
}
.text-red {
	color: #a6191f !important;
}
/*
* init mediaqueries
*/
@media (max-width: 991px) {
	.navbar-custom-menu .navbar-nav>li>.btn {
		padding-top: 2px;
		padding-bottom: 2px;
		color: #fff;
    background-color: #b71c22;
	}
}
@media (max-width: 767px) {
	.main-sidebar, .left-side {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}

}

/*
* tweaks colume style
*/
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left;
}
.col-md-1,
.col-sm-1 {
    width: 8.33333333%;
}
.col-md-2,
.col-sm-2 {
    width: 16.66666667%;
}
.col-md-3,
.col-sm-3 {
	width: 25%;
}
.col-md-4,
.col-sm-4 {
    width: 33.33333333%;
}
.col-md-5,
.col-sm-5 {
    width: 41.66666667%;
}
.col-md-6,
.col-sm-6 {
	width: 50%;
}
.col-md-9,
.col-sm-9 {
	width: 75%;
}
.col-md-12,
.col-sm-12 {
    width: 100%;
}
/*
* dev style
*/
.thumbnail {display: inline-block; vertical-align: top; max-width: 150px; padding: 0; margin-bottom: 0; border: 0 none;}
.sp-validate-error{border-color: #cc3f44; color: #cc3f44;}
.sp-validate-error-msg{padding-top: 5px; font-size: 12px; color: #cc3f44;}
.sp-createfile-remove {width: 100px;}
.error {padding-top: 5px; font-size: 12px; color: #cc3f44;}
.map {height: 300px; width: 100%; margin-bottom: 25px; text-align: center; }


/*
* Certification(인증정보) style
*/
.certification-list li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 20px;
}
.certification-list li span {
	display: block;
	margin-top: 5px;
	color: #888;
	font-size: 12px;
}